<script src="https://cdn.lordicon.com/lusqsztk.js"></script>
<div id="header">
    <div id="logo"><img src="/img/logo-blue.png" alt=""></div>
    <div style="flex:1;"></div>
    <div id="header_links">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
    <div id="header_avatar">
      <lord-icon
    src="https://cdn.lordicon.com/eszyyflr.json"
    trigger="loop"
    delay="3000"
    colors="primary:#121331,secondary:#08a88a"
    stroke="60"
    style="width:50px;height:50px">
</lord-icon>
    </div>
</div>