<div id="header">
    <div id="logo"><img src="/img/logo-blue.png" alt=""></div>
    <div style="flex:1;"></div>
    <div id="header_links">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
    <div id="header_avatar"><img src="https://cdn-icons-png.flaticon.com/64/149/149071.png" alt=""></div>
</div>