<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
        body    {
            height: 100vh;
            display: flex;
        }
        #main_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            margin: auto;
            font-family: "Qahiri";
            font-size: 150px;
            color: #08a88a;
        }

    </style>
</head>
<body>
    <div id="main_wrapper">
        <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/tdrtiskw.json"
            trigger="loop"
            delay="1500"
            stroke="70"
            style="width:250px;height:250px">
        </lord-icon>
        <div id="404">
            404
        </div>
    </div>
</body>
</html>