<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icons/fav.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
    <title>Spingo | Exercise</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div id="wrapper">
        <div id="backtolesson_btn">
            <a href="/lesson/<%= exercise.info.lessonExternalId%>">Back to lesson</a>
        </div>
        <div id="exercise_container">
        
        </div>
        <button id="validation_btn" onclick="ValidateQuestion();">VALIDATE</button>
        <button id="next_btn" onclick="NextQuestion();" style="display: none;">NEXT</button>
    </div>
   
    <script src="/js/exercise.js"></script>
    <script id="transfer">
        var data = <%- JSON.stringify(exercise) %>;
        externalData = data;
        document.getElementById("transfer").remove()
      </script>
      
</body>
</html>