<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
audio:not([controls]) {
  display: none;
  height: 0
}

figure,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,th {
  padding: 0
}

fieldset {
  border: none
}

fieldset,ul {
  margin: 0;
  padding: 0
}

ol,ul {
  list-style-type: none
}

ol {
  margin: 0;
  padding: 0;
  list-style-position: inside
}

audio:focus {
  outline: none
}

.wrapper.main-content {
    font-family: "Nunito";
  padding: 0 8px;
  font-size: 16px;
  line-height: 28px;
  color: #2e3139;
  position: relative;
  min-height: 1px;
  margin-bottom: 24px;
  word-spacing: 2px
}

.wrapper.main-content .title-main {
  font-size: 28px;
  text-align: center
}

.wrapper.main-content .title-second {
  margin-left: 35px;
  margin-top: 50px
}

.wrapper.main-content .title-fourth,.wrapper.main-content .title-third {
  font-size: 18px;
  font-weight: 500;
  color: #00507a;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 8px
}

.wrapper.main-content .title-fourth:before,.wrapper.main-content .title-third:before {
  content: "";
  background-size: 100% 100%;
  width: 24px;
  height: 24px
}

.wrapper.main-content .wrapper .block-section .text,.wrapper.main-content .wrapper .block-section ol,.wrapper.main-content .wrapper .block-section ul {
  line-height: 2.2rem;
  padding: 0 8px
}

.wrapper.main-content .wrapper-rule {
  display: grid;
  gap: 24px
}

.wrapper.main-content .wrapper-rule-part .title,.wrapper.main-content .wrapper-rule>.title,.wrapper.main-content .wrapper.rule-version {
  display: none
}

.wrapper.main-content .wrapper-example,.wrapper.main-content .wrapper-geovariety,.wrapper.main-content .wrapper-important,.wrapper.main-content .wrapper-recall,.wrapper.main-content .wrapper-tips {
  display: grid;
  gap: 8px
}

.wrapper.main-content .wrapper-geovariety .title-third {
  font-size: 18px
}

.wrapper.main-content .wrapper-geovariety .title-third:before {
  background-image: url(../../assets/icons/geo-variety.png)
}

.wrapper.main-content .wrapper-recall .title-fourth {
  color: #14a1af
}

.wrapper.main-content .wrapper-recall .title-fourth:before {
  background-image: url(../../assets/icons/recall.png)
}

.wrapper.main-content .wrapper-recall .section-content {
  background: #e6f5f7
}

.wrapper.main-content .wrapper-important .title-fourth {
  color: #aa4242
}

.wrapper.main-content .wrapper-important .title-fourth:before {
  background-image: url(../../assets/icons/important.png)
}

.wrapper.main-content .wrapper-important .section-content {
  background: #f8edea
}

.wrapper.main-content .wrapper-example .title-fourth {
  color: #489347
}

.wrapper.main-content .wrapper-example .title-fourth:before {
  background-image: url(../../assets/icons/exemple.png)
}

.wrapper.main-content .wrapper-example .section-content {
  background: #e8f8eb
}

.wrapper.main-content .wrapper-tips .title-fourth {
  color: #a69347
}

.wrapper.main-content .wrapper-tips .title-fourth:before {
  background-image: url(../../assets/icons/tips.png)
}

.wrapper.main-content .wrapper-tips .section-content {
  background: #fffae4
}

.wrapper.main-content .wrapper.wrapper-rule-part .block-section {
  padding-left: 0
}

.wrapper.main-content .block-section .wrapper-content-left-picture-text {
  overflow: hidden;
  padding: 20px 0
}

.wrapper.main-content .block-section .wrapper-content-left-picture-text .block-image {
  float: left;
  padding-right: 20px
}

.wrapper.main-content .block-section .wrapper-content-right-picture-text {
  overflow: hidden;
  padding: 20px 0
}

.wrapper.main-content .block-section .wrapper-content-right-picture-text .block-image {
  float: left;
  padding-left: 20px
}

.wrapper.main-content table {
  font-size: 14px;
  width: 100%;
  text-align: center
}

.wrapper.main-content td {
  width: auto;
  background: #87b6e6 none repeat scroll 0 0
}

.wrapper.main-content .table {
  border-width: 1px solid #ccc
}

.wrapper.main-content .table .theader,.wrapper.main-content .table th {
  font-weight: 700;
  color: #fefefe;
  background: #468faf
}

.wrapper.main-content .table .theader td {
  background: #468faf;
  border: 1px solid #468faf
}

.wrapper.main-content .table .tbody .tr,.wrapper.main-content .table .tbody .tr .th,.wrapper.main-content .table .tbody .tr td {
  border: 1px solid #ccc
}

.wrapper.main-content .table td {
  background: #fefefe;
  border: 1px solid #ccc;
  padding: 4px
}

.wrapper.main-content .table.no-border {
  border-width: 0
}

.wrapper.main-content .table.no-border .theader td {
  background: #468faf;
  border-width: 0
}

.wrapper.main-content .table.no-border .tbody .tr,.wrapper.main-content .table.no-border .tbody .tr .th,.wrapper.main-content .table.no-border .tbody .tr td {
  border-width: 0
}

.wrapper.main-content .table.no-border td {
  background: #fefefe;
  border-width: 0
}

.wrapper.main-content .picture {
  height: 200px
}

.wrapper.main-content .picture-left {
  float: left;
  margin: 0 15px 15px 0
}

.wrapper.main-content .picture-right {
  float: right;
  margin: 0 15px 15px 0
}

.wrapper.main-content .clearFloat {
  clear: both
}

.wrapper.main-content #sectionContent {
  padding: 12px;
  margin: 0 -8px
}

.wrapper.main-content .span-vignet {
  height: 20px;
  width: 20px;
  display: inline-block
}

.wrapper.main-content .span-vignet-female {
  background: url(../../assets/icons/female.png) no-repeat
}

.wrapper.main-content .span-vignet-male {
  background: url(../../assets/icons/male.png) no-repeat
}

.wrapper.main-content .span-vignet-neutral {
  background: url(../../assets/icons/neutral.png) no-repeat
}

.wrapper.main-content .span-vignet-single {
  background: url(../../assets/icons/singular.png) no-repeat
}

.wrapper.main-content .span-vignet-plural {
  background: url(../../assets/icons/plural.png) no-repeat
}

.wrapper.main-content .span-vignet-exception {
  background: url(../../assets/icons/exception.png) no-repeat
}

.wrapper.main-content .span-vignet-incorrect {
  background: url(../../assets/icons/false.png) no-repeat
}

.wrapper.main-content .span-vignet-equal {
  background: url(../../assets/icons/equal.png) no-repeat
}

.wrapper.main-content .span-vignet-hypothetical {
  background: url(../../assets/icons/hypothetical.png) no-repeat
}

.wrapper.main-content .span-vignet-listener {
  background: url(../../assets/icons/listener.png) no-repeat
}

.wrapper.main-content .span-vignet-minus {
  background: url(../../assets/icons/minus.png) no-repeat
}

.wrapper.main-content .span-vignet-reported-speech {
  background: url(../../assets/icons/reported_speech.png) no-repeat
}

.wrapper.main-content .span-vignet-speaker {
  background: url(../../assets/icons/speaker.png) no-repeat
}

.wrapper.main-content .span-vignet-new-spelling {
  background: url(../../assets/icons/new-spelling.png) no-repeat
}

.wrapper.main-content .span-vignet-different {
  background: url(../../assets/icons/different.png) no-repeat
}

.wrapper.main-content .span-vignet-approximation {
  background: url(../../assets/icons/approximation.png) no-repeat
}

.wrapper.main-content .span-vignet-zero {
  background: url(../../assets/icons/zero.png) no-repeat
}

.wrapper.main-content .span-vignet-decreasing {
  background: url(../../assets/icons/decreasing.png) no-repeat
}

.wrapper.main-content .span-vignet-increasing {
  background: url(../../assets/icons/increasing.png) no-repeat
}

.wrapper.main-content .span-vignet-arrow-right {
  background: url(../../assets/icons/arrow_right.png) no-repeat
}

.wrapper.main-content .span-vignet-arrow-down {
  background: url(../../assets/icons/arrow_down.png) no-repeat
}

.wrapper.main-content .span-vignet-arrow-up {
  background: url(../../assets/icons/arrow_up.png) no-repeat
}

.wrapper.main-content .span-vignet-arrow-left {
  background: url(../../assets/icons/arrow_left.png) no-repeat
}

.wrapper.main-content .span-vignet-in {
  background: url(../../assets/icons/in.png) no-repeat
}

.wrapper.main-content .span-vignet-on {
  background: url(../../assets/icons/on.png) no-repeat
}

.wrapper.main-content .span-vignet-under-below {
  background: url(../../assets/icons/under.png) no-repeat
}

.wrapper.main-content .span-vignet-out {
  background: url(../../assets/icons/out.png) no-repeat
}

.wrapper.main-content .span-vignet-around {
  background: url(../../assets/icons/around.png) no-repeat
}

.wrapper.main-content .span-vignet-between {
  background: url(../../assets/icons/between.png) no-repeat
}

.wrapper.main-content .span-vignet-in-front-of {
  background: url(../../assets/icons/in_front_of.png) no-repeat
}

.wrapper.main-content .span-vignet-behind {
  background: url(../../assets/icons/behind.png) no-repeat
}

.wrapper.main-content .span-vignet-next-to {
  background: url(../../assets/icons/next_to.png) no-repeat
}

.wrapper.main-content .span-vignet-over-above {
  background: url(../../assets/icons/over.png) no-repeat
}

.wrapper.main-content .span-vignet-to {
  background: url(../../assets/icons/to.png) no-repeat
}

.wrapper.main-content .span-vignet-in-the-middle {
  background: url(../../assets/icons/in_the_middle.png) no-repeat
}

.wrapper.main-content .span-vignet-up {
  background: url(../../assets/icons/up.png) no-repeat
}

.wrapper.main-content .span-vignet-down {
  background: url(../../assets/icons/down.png) no-repeat
}

.wrapper.main-content .span-transformation {
  margin-top: 3px;
  top: 10px;
  background: url(../../assets/icons/transformation.png) no-repeat
}

.wrapper.main-content .span-comment {
  background: url(../../assets/icons/commentaire.png) no-repeat
}

.wrapper.main-content .span-vignet-implication {
  position: relative;
  background: url(../../assets/icons/implication.png) no-repeat
}

.wrapper.main-content .span-vignet-false {
  background: url(../../assets/icons/false.png) no-repeat
}

.wrapper.main-content .color-a,.wrapper.main-content .colora {
  color: #96770c!important
}

.wrapper.main-content .color-b,.wrapper.main-content .colorb {
  color: #25c910!important
}

.wrapper.main-content .color-c,.wrapper.main-content .colorc {
  color: #43adff!important
}

.wrapper.main-content .color-d,.wrapper.main-content .colord {
  color: #434eff!important
}

.wrapper.main-content .color-e,.wrapper.main-content .colore {
  color: #ff4643!important
}

.wrapper.main-content .color-f,.wrapper.main-content .colorf {
  color: #ff7c43!important
}

.wrapper.main-content .color-g,.wrapper.main-content .colorg {
  color: #8726ff!important
}

.wrapper.main-content .color-h,.wrapper.main-content .colorh {
  color: #f726ff!important
}

.wrapper.main-content .color-i,.wrapper.main-content .colori {
  color: #ffa126!important
}

.wrapper.main-content .color-j,.wrapper.main-content .colorj {
  color: #ffd326!important
}

.wrapper.main-content .color-k,.wrapper.main-content .colork {
  color: #26ff67!important
}

.wrapper.main-content .color-l,.wrapper.main-content .colorl {
  color: #26ffde!important
}

.wrapper.main-content .wrapper-content-right-example-text {
  overflow: hidden
}

.wrapper.main-content .block-text {
  float: left;
  width: 100px
}

.wrapper.main-content .block-content {
  float: left
}

.wrapper.main-content .text-transformation {
  overflow: hidden
}

.wrapper.main-content .span-comment,.wrapper.main-content .span-transformation,.wrapper.main-content .span-vignet-implication,.wrapper.main-content .span-vignet-incorrect {
  height: 20px;
  width: 20px;
  display: inline-block
}

.wrapper.main-content .text-comment {
  font-style: italic;
  margin-left: 20px
}

.wrapper.main-content .first-rule-text {
  margin-top: 20px
}

    </style>
</head>
<body> 
  <%- include('./partials/header.ejs') %>

    <div id="grammar_rule_container">
        <%- grammarRule.grammarRule.content%>
    </div>
</body>
</html>