<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
   <link rel="stylesheet" href="css/HOME.css">
  </head>
  <body>

    <div id="header">

    </div>
      <div id="subbody">
        <div id="sidebar">
          
        </div>
        <div id="main_wrapper"> 

        </div>
     

    </div>


    <script src="/js/home.js"></script>
    <script id="transfer">
      var data = <%- JSON.stringify(missions) %>;
      externalData = data;
      document.getElementById("transfer").remove()
    </script>
  </body>
</html>
