<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/practice.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/icons/fav.png">
    <title>Spingo | Practice</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div id="practice_main_wrapper">
        <div id="practice_wrapper">
            <div id="practice_image">
            </div>
           
            <div id="practice_info">
                <h3>Context</h3>
                <div id="practice_context">
    
                </div>
                <h3>Task</h3>
                <div id="practice_task">
    
                </div>
            </div>
            
           
        </div>
        <textarea id="practice_textarea" placeholder="Put your work here ..."></textarea>
    </div>
    <button id="next_btn">NEXT</button>
    <script id="transfer">
        var data = <%- JSON.stringify(practice) %>;
        externalData = data;
        console.log(externalData)
        document.getElementById("transfer").remove()
    </script>
</body>
</html>