<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="vocabulary_container">
        <div class="word"></div>
        <div class="word_type"></div>
        <div class="word_definition"></div>
        <div class="word_image">
            <img src="" alt="">
        </div>
        <div class="word_audio"></div>
        
    </div>
    <button id="next_btn">NEXT</button>
    <script src="/js/vocabulary.js"></script>

    <script id="transfer">
        var data = <%- JSON.stringify(vocabulary) %>;
        externalData = data;
      </script>
</body>
</html>