/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
/*! CSS Used from: Embedded */
*,
:after,
:before {
  box-sizing: inherit;
}
@media print {
  * {
    overflow: visible !important;
  }
}
/*! CSS Used from: https://app.ofppt-langues.ma/platform/styles.7a5792225ff8aff25ef0.css ; media=all */
@media all {
  h1,
  h2,
  h4,
  p {
    margin: 0;
    padding: 0;
  }
  button {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  html[dir="rtl"] body [dir="ltr"] {
    font-family: Inter, helvetica neue, arial, sans-serif;
  }
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media print {
    * {
      overflow: visible !important;
    }
  }
  .btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    line-height: 1.25;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 1rem;
  }
  .btn-is-pill {
    border-radius: 99px !important;
    padding-left: 1.6em !important;
    padding-right: 1.6em !important;
  }
  .btn-primary.btn-primary {
    min-height: 40px;
    padding: calc(0.4em - 1px) 1.2em;
    font-weight: 500;
    color: #fff;
    border-radius: 12px;
    background: var(--primary);
    border: 1px solid transparent;
    transition: 0.2s ease;
    transition-property: background, box-shadow;
  }
  .btn-primary.btn-primary:disabled {
    background: var(--internal-primary-light);
    cursor: not-allowed;
    opacity: 0.5;
  }
}
/*! CSS Used from: Embedded */
.grammar-box[_ngcontent-ugh-c130] {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
}
@media (min-width: 769px) {
  .grammar-box[_ngcontent-ugh-c130] {
    grid-gap: 30px;
    gap: 30px;
  }
}
.grammar-click-message[_ngcontent-ugh-c130] {
  width: 100%;
  background: #2d78c5;
  color: #fff;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 8px;
}
@media (min-width: 769px) {
  .grammar-click-message[_ngcontent-ugh-c130] {
    padding: 8px 12px;
    grid-gap: 12px;
    gap: 12px;
    font-size: 1rem;
  }
}
#grammar-rule-container.is-clickable[_ngcontent-ugh-c130] :not(div) {
  cursor: pointer;
}
#grammar-rule-container[_ngcontent-ugh-c130] .wrapper.main-content {
  display: grid;
  grid-gap: 24px;
  gap: 24px;
  font-size: 16px;
  line-height: 28px;
  color: #2e3139;
  position: relative;
  min-height: 1px;
  margin-bottom: 24px;
  word-spacing: 2px;
}
#grammar-rule-container[_ngcontent-ugh-c130] .wrapper.main-content strong {
  font-weight: 700;
}
#grammar-rule-container[_ngcontent-ugh-c130] .wrapper.main-content .title-main {
  font-size: 28px;
  text-align: center;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .title-second {
  margin-left: 35px;
  margin-top: 50px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .title-fourth {
  font-size: 18px;
  font-weight: 500;
  color: #00507a;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .title-fourth:before {
  content: "";
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper
  .block-section
  .text,
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper
  .block-section
  ul {
  line-height: 2.2rem;
  padding: 0 8px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-rule {
  display: grid;
  grid-gap: 24px;
  gap: 24px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-rule
  > .title,
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper.rule-version {
  display: none;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-example,
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-recall {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-recall
  .title-fourth {
  color: #14a1af;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-recall
  .title-fourth:before {
  background-image: url(https://app.ofppt-langues.ma/platform/recall.74391cce4941bedcd945.png);
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-recall
  .section-content {
  background: #e6f5f7;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-example
  .title-fourth {
  color: #489347;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-example
  .title-fourth:before {
  background-image: url(https://app.ofppt-langues.ma/platform/exemple.983dfbb9c51ff2bb79a0.png);
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .wrapper-example
  .section-content {
  background: #e8f8eb;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  #sectionContent {
  padding: 12px;
  margin: 0 -8px;
}
#grammar-rule-container[_ngcontent-ugh-c130] .wrapper.main-content .colorb {
  color: #25c910 !important;
}
#grammar-rule-container[_ngcontent-ugh-c130] .wrapper.main-content .colorc {
  color: #43adff !important;
}
#grammar-rule-container[_ngcontent-ugh-c130] .wrapper.main-content .colorg {
  color: #8726ff !important;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  #sectionContent {
  overflow-x: auto;
  margin: 0;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  #sectionContent.block-section {
  border-radius: 16px;
}
#grammar-rule-container[_ngcontent-ugh-c130]
  .wrapper.main-content
  .title-second {
  margin-left: 0 !important;
}
.grammar-activity-continue-button[_ngcontent-ugh-c130] {
  justify-self: end;
}
/*! CSS Used from: Embedded */
.btn-content[_ngcontent-ugh-c40] {
  display: grid;
  align-items: center;
  grid-gap: 0.8em;
  gap: 0.8em;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
}
[_nghost-ugh-c40] {
  position: relative;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: Inter;
  src: url(https://app.ofppt-langues.ma/platform/inter-400.351b7924dd5e53fb9e5e.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(https://app.ofppt-langues.ma/platform/inter-500.961de2d8bd7262592474.woff2)
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(https://app.ofppt-langues.ma/platform/inter-700.74134d65fd573cb1629c.woff2)
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(https://app.ofppt-langues.ma/platform/inter-400.351b7924dd5e53fb9e5e.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(https://app.ofppt-langues.ma/platform/inter-500.961de2d8bd7262592474.woff2)
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(https://app.ofppt-langues.ma/platform/inter-700.74134d65fd573cb1629c.woff2)
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
