@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --secondary-color : #25C8DB;
    --main-color : #EEEEEE;
    --lesson-color : #ffffff;
    --lesson-title-color : #25C8DB;
    --lesson-type-color : #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #eeeeee;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


#header {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    height: 50px;
}

#header_avatar img {
    padding: 0 10px;
    width: 35px;
}
#header_links ul {
    list-style: none;
    display: flex;
    font-family: "Nunito";
    font-weight: 700;
}
#header_links li {
    padding: 0 10px;
}
#logo img {
    width: 110px;
    padding: 0 50px;
}
#subbody{
    display: flex;
    background-color: var(--main-color );
    max-width: 1200px;
    margin: auto;
}
#level_selector ul{
    list-style: none;
    display: flex;
}
.selector{
    transition: all 0.5s;
    padding: 2px 21px;
    background-color: #ffffff;
    color: #000;
    font-family: "Nunito";
    font-weight: 900;
    border-radius: 25px;
    margin: 5px 5px;
    border: solid 0.1px #5f5f5f;
    cursor: pointer;
}
.active_selector {
    flex: 1;
    color: #fff;
    background-color: #25C8DB;
    border: solid 1px #25C8DB;
    padding: px;
}

#level_selector h3 {
    padding-left: 20px;
    font-family: "Nunito";
}
#sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--main-color );
    flex: 0 0 20%;
    padding-top: 90px;
    padding-left: 10px;
}

#main_wrapper {
    margin: 20px;
    flex: 1;
}
.mission {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: dashed 0.5px #d2d2d2;
}
.mission_info {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}
.mission_info:hover {
    margin-left: 20px;
}
.mission_text {
    padding: 0 10px;
    margin: 0 10px;
    flex: 1;
}

.mission_index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 45px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
}

.mission_progress {
    color: grey;
    font-size: 13px;
}
.mission_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.mission_arrow img{
    width: 20px;
}
.lessons_container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    max-height: 0px;
    margin-top: 4px;
    transition: all 0.6s ease-in-out;
}

.lesson {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--lesson-color);
    font-family: 'Nunito', sans-serif;
    border-radius: 15px;
    
}
.lesson_info {
    flex: 1;
    padding: 0 20px;
}
.lesson_title {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
    color: var(--lesson-title-color);
    font-size: 15px;
    font-weight: 800;
} 
.lesson_type {
    font-size: 10px;
    color: var(--lesson-type-color);
}
.lesson_arrow {
    display: flex;
    flex: 0 0 30px;
    align-items: center;
    justify-content: center;
    
}
.lesson img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    border-radius: 100%;
    filter: grayscale(1);
}
.lesson_arrow img {
    width: 10px;
    height: 10px;
    padding: 0 10px;
    
}


.sidebar_title {
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.sidebar_subtitle {
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-size: 12px;
    font-weight: 500;
}

.level_container {
    padding: 20px;
    border-radius: 20px;
    border: dashed 0.5px #d3d3d3;
}

/*? EXERCISE */

#wrapper {
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
    display: flex;
    height: 85vh;
    max-height: 800px;
    justify-content: center;
    align-items: center;
}

#exercise_container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.instruction_container {
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 500;
}

.question_container {
    
    color: black;
    font-size: 18px;
    font-weight: 500;
    border: dashed gray 0.1px;
    border-radius: 25px;
    padding: 10px 200px;
}
.answers_container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    align-items: center;
}
.answers_container button {
    background: none;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border: solid 0.1px black;
    border-radius: 100px;
    margin-left: 10px;
    transition: all 0.3s;
}

.answers_container button:hover {
    background: black;
    padding: 5px 40px;
    color: white;
    
}

.active_answer {
    background: #25c8db!important;
    padding: 5px 40px!important;
    color: white!important;
    border: none!important;
}

.question_container span {
    border-radius: 25px;
    border: solid 0.1px black;
    margin: 0 20px;
    padding: 0 20px;
}

.question_container input {
    border: solid 0.1px black;
    padding: 5px 20px;
    border-radius: 25px;
    background: none;
    
}

.imageSrc_container {
    display: flex;
    justify-content: center;
}
.audioSrc_container {
    display: flex;
    justify-content: center;
}

.imageSrc_container img{
border-radius: 25px;
}
.audioSrc_container audio{
    width: 75%;
    height: 35px;
    border: dashed 0.1px black;
    border-radius: 25px;
    }
#validation_btn {
    margin: 30px;
    bottom: 0;
    position: absolute;
    right: 0;
    border: solid 0.1px black;
    padding: 8px 30px;
    transition: all 0.3s;

}
#validation_btn:hover{
    background-color: #000;
    color: #fff;
    padding: 8px 50px;
    
}

/*? LESSON */
#lesson_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

#activities-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#activities-container div {
    display: flex;
    flex: 1 0 20%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: dashed 0.1px;
    padding: 5px 30px;
    border-radius: 25px;
    
}

#lesson_title {
    color: #000;
    font-size: 28px;
    font-weight: 700;
}

#activities_header {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

#lesson_img img {
    height: 200px;
    border-radius: 25px;
}
 /*? VOCABULARY */
#vocabulary_wrapper {
    font-family: 'Nunito', sans-serif;
    max-width: 1000px;
    margin: auto;
    border: dashed 0.1px gray;
    border-radius: 25px;
}
#vocabulary_container {
    display: flex;
    flex-direction: row;
    padding: 40px;

}
.word_info {
    flex: 1;
}

.word {
    font-size: 35px;
    font-weight: 600;
}

.word_type {
    font-size: 15px;
    line-height: 30px;
    color: gray;
}

.word_definition {
    font-size: 30px;
}
.word_image img {
    border-radius: 25px;
    filter: saturate(0.65);
}

#word_audio {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#word_audio audio {
    width: 400px;
}

#next_btn {
    margin: 30px;
    bottom: 0;
    position: absolute;
    right: 0;
    border: solid 0.1px black;
    padding: 8px 30px;
    transition: all 0.3s;

}
#next_btn:hover{
    background-color: #000;
    color: #fff;
    padding: 8px 50px;
    
}

#video_subbody {
    justify-content: center;
    display: flex;
    background-color: var(--main-color );
    max-width: 750px;
    margin: auto;
    margin-top: 80px;
}

/*? PRACTICE */

#practice_wrapper {
    font-family: 'Nunito', sans-serif;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#practice_wrapper h3{
    color: black ;
    padding-left: 20px;
}

#practice_context {
    border: dashed 0.1px black;
    padding: 10px 60px;
    border-radius: 25px;
    margin-bottom: 20px;
}

#practice_task {
    border: dashed 0.1px black;
    padding: 10px 60px;
    border-radius: 25px;
    margin-bottom: 20px;
}

#practice_image img {
    border-radius: 25px;
}